.app-header {
  height: 5cap;

  display: flex;
  align-items: center;
  gap: 1ch;

  padding-inline: 1ch;
}

.app-header>.button {
  display: none;
}

@media (max-width: 90ch) {
  .app-header>.button {
    display: block;
  }

  .app-header {
    justify-content: space-between;
  }
}