.toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 2ch;
  padding-right: 2ch;
}

.toolbar>.horizontal-scroll {
  overflow-x: scroll;
}

.toolbar>menu {
  white-space: nowrap;
  list-style: none;
  padding: 0;
}

.toolbar>menu>li:not(:last-child) {
  margin-inline-end: 1ch;
}

.toolbar>nav {
  align-self: center;
}

.toolbar>menu>li {
  display: inline-block;
}