.breadcrumbs>ol {
  list-style-type: none;
  padding: 0;

  display: flex;
}

.breadcrumbs>ol>li:not(:last-child)::after,
.breadcrumbs>ol>li:is(:first-child)::before {
  content: "/";
  padding-inline: 0.5ch;
}