.breadcrumbs>ol {
  list-style-type: none;
  padding: 0;

  display: flex;
}

.breadcrumbs>ol>li:not(:last-child):not(:first-child)::after {
  content: "/";
}

.breadcrumbs>ol>li>button {
  padding-inline: 0.5ch;
}

.breadcrumbs>ol>li:first-child>button {
  padding-inline: 0.5ch;
}