.dir-entry-table {
  height: fit-content;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.dir-entry-table thead {
  position: sticky;
  top: 0;
  z-index: 1;

  background: var(--ar-background);
}

.dir-entry-table tbody {
  position: sticky;
  top: 0;
}

.dir-entry-table tr {
  height: 3cap;
}

.dir-entry-table tbody tr:hover {
  background: var(--ar-button-flat-hover);
}

.dir-entry-table th>button {
  width: 100%;
  text-align: start;
}

.dir-entry-table th {
  border-bottom: 1px solid var(--ar-border);
}

.dir-entry-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 1ch;
}

.dir-entry-table th.size {
  width: 10ch;
}

.dir-entry-table th.date {
  width: 17ch;
}