#root {
    height: 100%;
    display: flex;
}

#filemanager-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

aside {
    width: 30ch;
}

header {
    height: 5cap;
}

main {
    flex: 1;
}