aside {
    grid-area: aside;
}

#root {
    height: 100%;
    display: grid;
    grid-template-columns: 30ch 1fr;
    grid-template-rows: 5cap 1fr;
    grid-template-areas:
        "aside header"
        "aside main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}