* {
    outline: 1px solid #f0f;
}

#root {
    height: 100%;
    display: flex;
}

#filemanager-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

header {
    height: 5cap;
}

main {
    flex: 1;
}