header {
    height: 5cap;

    display: flex;
    align-items: center;
    gap: 1ch;

    padding-left: 1ch;
    padding-right: 1ch;
}

header>.button {
    display: none;
}

@media (max-width: 90ch) {
    header>.button {
        display: block;
    }

    header {
        justify-content: space-between;
    }
}