*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    color: inherit;
}

body {
    height: 100lvh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    background-color: var(--ar-background);
    color: var(--ar-text-primary);
}

/* HUE: interval 18 */
/* 252 = sky */
/* 270 = blue */

/* intensity */
/* weak = 0.01 */

/* --prefix-color-lightness-intensity */
:root {
    /* 25 0.01 270 */
    /* text primary (light), background (dark) */
    --ar-blue-25-weak: #202127;

    /* 40 0.01 252 */
    /* text secondary (light) */
    --ar-sky-40-weak: #44484d;
    /* 80 0.01 252 */
    /* text secondary (dark) */
    --ar-sky-80-weak: #b9bec4;
    /* 90 0.01 252 */
    /* text primary (dark) */
    --ar-sky-90-weak: #d9dfe5;
}

:root {
    --ar-background: var(--ar-blue-25-weak);
    --ar-text-primary: var(--ar-sky-90-weak);
    --ar-text-secondary: var(--ar-sky-80-weak);
}

@media (prefers-color-scheme: light) {
    :root {
        --ar-background: #fff;
        --ar-text-primary: var(--ar-blue-25-weak);
        --ar-text-secondary: var(--ar-sky-40-weak);
    }
}