*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    height: 100lvh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    color: var(--ar-text-primary);
    background-color: var(--ar-background);
}

:root {
    --ar-background: #242424;
    --ar-text-primary: #fffd;
}

@media (prefers-color-scheme: light) {
    :root {
        --ar-background: #fff;
        --ar-text-primary: #213547:
    }
}