aside {
    width: 30ch;
    background-color: #242424;

    display: flex;
    flex-direction: column;
    gap: 2cap;

    padding: 2ch;

    overflow: auto;

    transition: all .5s cubic-bezier(.24, .92, .55, 1);
}

@media (max-width: 90ch) {
    aside {
        position: fixed;
        height: 100lvh;
    }

    aside[data-collapsed=true] {
        transform: translateX(-100%);
    }
}

aside>button {
    font-size: larger;
}

aside>nav {
    display: flex;
    flex-direction: column;
    gap: 0.5cap;
}

aside>nav>button {
    text-align: left;
    padding-left: 2ch;
    padding-top: 0.25cap;
    padding-bottom: 0.25cap;
}