#toolbar {
    display: flex;
    justify-content: space-between;
    padding-left: 2ch;
    padding-right: 2ch;
}

#toolbar>menu {
    list-style: none;
    padding: 0;
}

#toolbar>nav {
    align-self: center;
}

#toolbar>menu>li {
    display: inline-block;
}